exclude: ^tests/data/
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c # frozen: v6.0.0
    hooks:
      - id: mixed-line-ending
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: check-executables-have-shebangs
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 5ba58aca0bd5bc7c0e1c0fc45af2e88d6a2bde83 # frozen: v0.14.10
    hooks:
      - id: ruff-check
      - id: ruff-format
  - repo: https://github.com/hoxbro/ty-pre-commit
    rev: 8ebf2675da007f54350528c21230eb4cfd78c96d # frozen: v0.0.5
    hooks:
      - id: ty-check
  - repo: https://github.com/codespell-project/codespell
    rev: 63c8f8312b7559622c0d82815639671ae42132ac # frozen: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
  - repo: https://github.com/hoxbro/prettier-pre-commit
    rev: bae77de89db2ee6b2052f9647b14246e9ee19cd1 # frozen: v3.7.4
    hooks:
      - id: prettier
        types_or:
          - markdown
          - yaml
  - repo: https://github.com/hoxbro/taplo-pre-commit
    rev: 605f960c3c571f814f535622a688bcde63ee87f6 # frozen: v0.9.3
    hooks:
      - id: taplo
        args:
          [
            --option,
            align_comments=false,
            --option,
            column_width=100,
            --option,
            "indent_string=    ",
          ]
